.e1{
  font-family: Arial;
  text-align: center;
}
.e2{
    font-family: Arial;
    text-align: center;
}
.e3{
    font-family: Arial;
    text-align: center;
}
.e4{
    font-family: Arial;
    text-align: center;
}
.e5{
    font-family: Arial;
    text-align: center;
}
.e6{
    font-family: Arial;
    text-align: center;
}
.e7{
    font-family: Arial;
    text-align: center;
}
.e8{
    font-family: Arial;
    text-align: center;
}
.e9{
    font-family: Arial;
    text-align: center;
}
.e10{
    font-family: Arial;
    text-align: center;
}